
{% extends "global/index.html" %}


{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form action="{% url 'form' %}" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
            </li>
            <li>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </li>
            <li>
                <label for="data-nascimento">Data de Nascimento:</label>
                <input type="date" id="data-nascimento" name="data-nascimento" required>
            </li>
            <li>
                <button type="submit">Enviar</button>
            </li>
        </ul>
    </form>
</body>
</html>
{% endblock content %}